<ion-view view-title="Dashboard">
    <script src="dashScript.js" type="text/javascript"></script>
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">Recent Updates</div>
            <div class="item item-body">
                <div>
                    There is a fire in <b>sector 3</b>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Health</div>
            <div class="item item-body">
                <div>
                    You ate an apple today!
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Upcoming</div>
            <div class="item item-body">
                <div>
                    You have <b>29</b> meetings on your calendar tomorrow.
                </div>
            </div>
        </div>
        <button ng-click="checkConnection()" class="button">
            Acces Internet ? (valide sur téléphone uniquement)
        </button>
        <button ng-click="getMyPosition()" class="button">
            Trouver ma position
        </button>
        <button ng-click="shareMyIdea()" class="button">
            Test partage
        </button>
    </ion-content>
</ion-view>
