<ion-view name="tab-dash" view-title="La Bonne Adresse">
    <script src="dashScript.js" type="text/javascript"></script>
    <ion-content class="has-tabs-top">
        <center>
            <p id="feedback"></p>
            <button id="btnSearch" ng-click="testPlace()" class="button">
                Chercher...
            </button>
        </center>
        </br>
        <div id="map"></div>
        </br>
        <div class="list" id="list"></div>
        <br/>
        <br/>
    </ion-content>
</ion-view>
